footer{
  min-height: 80px;
  background-color: rgb(52,53,51);
  margin-top: auto;
  text-align: center;
  .footer-content{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &:hover{
    background-color: gray;
  }
  .instagram{
    &:link{color: blue;}
    &:visited{color: aqua;}
    font-weight: bolder;
    font-size: 50%;
  }
  .facebook{
    &:link{color: blue;}
    &:visited{color: aqua;}
    font-weight: lighter;
    font-size: 50%;
  }
  .youtube{
    &:link{color: blue;}
    &:visited{color: aqua;}
    font-size: 50%;
  }
}
