$nomemp: rgb(57, 207, 57);
$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6);
$font-p: 2.5rem;
$font-h1: 4.5rem;
$font-h2: 2.4rem;
$font-h3: 2.0rem;
$viewport-height: 100vh; // Altura de la ventana visible
$menu-height: 200px; // Altura máxima del menú desplegable
