@import 'variables';
@import 'footer';
@import 'global';
//@import 'medios';
.logo{
  width: 100px;
  height: 100px;
}
header{
  position: fixed;
  top: 0;
  border-top: 30px solid rgb(144, 206, 82); 
  width: 100%;
}
.wrapper{
  background-color: greenyellow;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-grow: 1;
}
//ejemplo nesting 
nav{
  @include caja-flex (space-between, center, nowrap);
  ul{
    display: flex;
    padding: 0;
    a{
        padding: 10px;
        font-size: 1.6rem;
        font-weight: bold;
    }
    a:hover{
      color: #6495ED;
      transform: scale(1.1);
    }
  }
}
.presentacion{
  padding-top: 180px;
  padding-bottom: 50px;
  @include caja-flex(space-between, center, nowrap);
  .flex-item2{
    text-align:center;
  }
  h1{
    margin-top: 0;
    padding-right: 30px;
    font-size: $font-h1;
    text-align: center;
  }
  p{
    padding-right: 20px;  
    padding-bottom: 10px;
    text-align: center;

  }
}
.servicios{
  div{
    text-align: center;
  }
  .tipo-servicios{
    @include caja-flex(center, center, nowrap);
    i{
      font-size: 30px;
      color: #6495ED;
    }
  }
}
